<a href="https://colab.research.google.com/github/Nanangk/Python_and_Data_Science_Botcamp_by_SanberCode/blob/master/Tugas_Akhir_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Berikut adalah data tentang class Gaji seseorang. Data ini memilki beberapa column predictor dan 1 column output untuk 2 class label, Anda di minta untuk membuat model untuk memprediksi probabilitas gaji seseorang adalah di atas 5jt, dimana keterangan dari output adalah sebagai berikut

0 : Gaji <= 5jt

1 : Gaji > 5jt

In [ ]:
import pandas as pd
import numpy as np
import keras

Using TensorFlow backend.

In [ ]:
df = pd.read_csv('Pendapatan.csv')
df.head(5)

      id  Umur  ... Jam per Minggu  Gaji
0  27247    59  ...           50.0     1
1   1640    52  ...           38.0     0
2  45206    52  ...           99.0     1
3  16154    45  ...           40.0     0
4  43023    28  ...           45.0     1

[5 rows x 13 columns]

In [ ]:
df.shape

(38393, 13)

In [ ]:
df['Gaji'].value_counts()

0    29198
1     9195
Name: Gaji, dtype: int64

In [ ]:
df['Pekerjaan'] = df['Pekerjaan'].replace(
    ['Spesialis','Ekesekutif Managerial','Perbaikan Kerajinan','Pemuka Agama','Sales','Servis Lainnya','Mesin Inspeksi','?','Supir','Pembersih','Petani','Tech-support','Penjaga','Asisten Rumah Tangga','Tentara'],
    [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
)

In [ ]:
df['Pekerjaan'].value_counts()

1     4911
2     4790
3     4788
4     4408
5     4323
6     3859
7     2380
8     2210
9     1859
10    1650
11    1150
12    1122
13     734
14     198
15      11
Name: Pekerjaan, dtype: int64

In [ ]:
df['Pendidikan'] = df['Pendidikan'].replace(
    ['SMA','Pendidikan Tinggi', 'Sarjana','Master','D4','11th','D3','10th','7th-8th','Sekolah Professional','9th','12th','Doktor','5th-6th','1st-4th','SD'],
    [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
)

In [ ]:
df['Pendidikan'].value_counts()

1     12430
2      8529
3      6320
4      2093
5      1603
6      1407
7      1260
8      1096
9       722
10      666
11      604
12      509
13      477
14      418
15      195
16       64
Name: Pendidikan, dtype: int64

In [ ]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].replace(['Wiraswasta','Pekerja Bebas Bukan Perusahan','Pemerintah Lokal','?','Pemerintah Negara','Pekerja Bebas Perusahaan','Pemerintah Provinsi',
                             'Tanpa di Bayar','Tidak Pernah Bekerja'],[1,2,3,4,5,6,7,8,9])

In [ ]:
df['Status Perkawinan'].value_counts()

Menikah                 17640
Belum Pernah Menikah    12650
Cerai                    5200
Berpisah                 1203
Janda                    1178
Menikah LDR               522
Name: Status Perkawinan, dtype: int64

In [ ]:
df['Status Perkawinan'] = df['Status Perkawinan'].replace(
    ['Menikah','Belum Pernah Menikah','Cerai','Berpisah','Janda','Menikah LDR'],
    [1,2,3,4,5,6])

In [ ]:
df['Jenis Kelamin']=df['Jenis Kelamin'].replace(['Laki2','Perempuan'],[1,0])

In [ ]:
df.head(3)

      id  Umur  Kelas Pekerja  ...  Kerugian Capital  Jam per Minggu  Gaji
0  27247    59              5  ...               0.0            50.0     1
1   1640    52              1  ...               0.0            38.0     0
2  45206    52              2  ...               0.0            99.0     1

[3 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x = df[['Umur','Kelas Pekerja','Pendidikan','Pekerjaan','Jmlh Tahun Pendidikan','Status Perkawinan','Jenis Kelamin',
        'Keuntungan Kapital', 'Kerugian Capital','Jam per Minggu']]
y = df['Gaji']
x =np.array(x)
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state=21, stratify = y)

In [ ]:
y_train = keras.utils.to_categorical(y_train, 2)
y_test = keras.utils.to_categorical(y_test,2)

In [ ]:
X_test

array([[4.20000e+01, 5.00000e+00, 3.00000e+00, ..., 2.10336e+08,
        0.00000e+00, 5.00000e+01],
       [6.10000e+01, 4.00000e+00, 1.00000e+00, ..., 4.34420e+07,
        0.00000e+00, 4.00000e+01],
       [3.40000e+01, 1.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 6.00000e+01],
       ...,
       [3.30000e+01, 3.00000e+00, 3.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 4.00000e+01],
       [2.90000e+01, 1.00000e+00, 2.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.60000e+01],
       [6.40000e+01, 5.00000e+00, 3.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 4.50000e+01]])

In [ ]:
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Dense, Dropout, Activation, Flatten
import matplotlib.pyplot as plt
import tensorflow as tf

In [ ]:
model = Sequential()
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(2, activation=Activation(tf.nn.softmax)))

/usr/local/lib/python3.6/dist-packages/keras/activations.py:235: UserWarning: Do not pass a layer instance (such as Activation) as the activation argument of another layer. Instead, advanced activation layers should be used just like any other layer in a model.
  identifier=identifier.__class__.__name__))

In [ ]:
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(), metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, 
          batch_size=28, 
          epochs=50, 
          verbose=1,
          validation_data=(X_test, 
                           y_test))

Train on 26875 samples, validate on 11518 samples
Epoch 1/50
26875/26875 [==============================] - 7s 257us/step - loss: 48550.2548 - accuracy: 0.7637 - val_loss: 2449.7429 - val_accuracy: 0.7814
Epoch 2/50
26875/26875 [==============================] - 5s 190us/step - loss: 5888.7685 - accuracy: 0.7756 - val_loss: 428.3219 - val_accuracy: 0.7806
Epoch 3/50
26875/26875 [==============================] - 5s 193us/step - loss: 1880.0337 - accuracy: 0.7788 - val_loss: 0.4929 - val_accuracy: 0.7605
Epoch 4/50
26875/26875 [==============================] - 5s 191us/step - loss: 328.5964 - accuracy: 0.7768 - val_loss: 0.4171 - val_accuracy: 0.7922
Epoch 5/50
26875/26875 [==============================] - 5s 188us/step - loss: 84.8352 - accuracy: 0.7854 - val_loss: 0.4014 - val_accuracy: 0.7935
Epoch 6/50
26875/26875 [==============================] - 5s 188us/step - loss: 42.4897 - accuracy: 0.7869 - val_loss: 0.3963 - val_accuracy: 0.7902
Epoch 7/50
26875/26875 [==============================] - 5s 189us/step - loss: 51.6492 - accuracy: 0.8042 - val_loss: 0.3912 - val_accuracy: 0.8129
Epoch 8/50
26875/26875 [==============================] - 5s 188us/step - loss: 41.5030 - accuracy: 0.8081 - val_loss: 0.4009 - val_accuracy: 0.7990
Epoch 9/50
26875/26875 [==============================] - 5s 189us/step - loss: 27.0689 - accuracy: 0.8080 - val_loss: 0.3874 - val_accuracy: 0.8126
Epoch 10/50
26875/26875 [==============================] - 5s 189us/step - loss: 33.0462 - accuracy: 0.8087 - val_loss: 0.3861 - val_accuracy: 0.8117
Epoch 11/50
26875/26875 [==============================] - 5s 187us/step - loss: 10.2853 - accuracy: 0.8088 - val_loss: 0.3913 - val_accuracy: 0.8100
Epoch 12/50
26875/26875 [==============================] - 5s 187us/step - loss: 15.7826 - accuracy: 0.8091 - val_loss: 0.3893 - val_accuracy: 0.8115
Epoch 13/50
26875/26875 [==============================] - 5s 184us/step - loss: 21.0257 - accuracy: 0.8100 - val_loss: 0.3865 - val_accuracy: 0.8076
Epoch 14/50
26875/26875 [==============================] - 5s 184us/step - loss: 16.3298 - accuracy: 0.8105 - val_loss: 0.3838 - val_accuracy: 0.8139
Epoch 15/50
26875/26875 [==============================] - 5s 184us/step - loss: 8.2931 - accuracy: 0.8090 - val_loss: 0.3974 - val_accuracy: 0.8100
Epoch 16/50
26875/26875 [==============================] - 5s 189us/step - loss: 3.8999 - accuracy: 0.8081 - val_loss: 0.3841 - val_accuracy: 0.8154
Epoch 17/50
26875/26875 [==============================] - 5s 186us/step - loss: 4.0397 - accuracy: 0.8095 - val_loss: 0.3844 - val_accuracy: 0.8146
Epoch 18/50
26875/26875 [==============================] - 5s 189us/step - loss: 6.2541 - accuracy: 0.8097 - val_loss: 0.3827 - val_accuracy: 0.8140
Epoch 19/50
26875/26875 [==============================] - 5s 185us/step - loss: 7.3147 - accuracy: 0.8072 - val_loss: 0.3824 - val_accuracy: 0.8132
Epoch 20/50
26875/26875 [==============================] - 5s 185us/step - loss: 4.7651 - accuracy: 0.8088 - val_loss: 0.3796 - val_accuracy: 0.8139
Epoch 21/50
26875/26875 [==============================] - 5s 183us/step - loss: 2.6443 - accuracy: 0.8081 - val_loss: 0.4049 - val_accuracy: 0.8132
Epoch 22/50
26875/26875 [==============================] - 5s 185us/step - loss: 1.9060 - accuracy: 0.8099 - val_loss: 0.3827 - val_accuracy: 0.8131
Epoch 23/50
26875/26875 [==============================] - 5s 186us/step - loss: 4.2248 - accuracy: 0.8096 - val_loss: 0.3842 - val_accuracy: 0.8143
Epoch 24/50
26875/26875 [==============================] - 5s 185us/step - loss: 10.5057 - accuracy: 0.8098 - val_loss: 0.3902 - val_accuracy: 0.8137
Epoch 25/50
26875/26875 [==============================] - 5s 193us/step - loss: 2.9087 - accuracy: 0.8119 - val_loss: 0.3780 - val_accuracy: 0.8156
Epoch 26/50
26875/26875 [==============================] - 5s 193us/step - loss: 1.3073 - accuracy: 0.8113 - val_loss: 0.3820 - val_accuracy: 0.8146
Epoch 27/50
26875/26875 [==============================] - 5s 187us/step - loss: 2.9054 - accuracy: 0.8108 - val_loss: 0.3796 - val_accuracy: 0.8132
Epoch 28/50
26875/26875 [==============================] - 5s 185us/step - loss: 2.5687 - accuracy: 0.8108 - val_loss: 0.3805 - val_accuracy: 0.8165
Epoch 29/50
26875/26875 [==============================] - 5s 184us/step - loss: 4.3639 - accuracy: 0.8093 - val_loss: 0.3804 - val_accuracy: 0.8155
Epoch 30/50
26875/26875 [==============================] - 5s 186us/step - loss: 5.7424 - accuracy: 0.8107 - val_loss: 0.3967 - val_accuracy: 0.8114
Epoch 31/50
26875/26875 [==============================] - 5s 183us/step - loss: 6.3080 - accuracy: 0.8103 - val_loss: 0.3839 - val_accuracy: 0.8116
Epoch 32/50
26875/26875 [==============================] - 5s 185us/step - loss: 5.9490 - accuracy: 0.8115 - val_loss: 0.3818 - val_accuracy: 0.8121
Epoch 33/50
26875/26875 [==============================] - 5s 182us/step - loss: 3.3606 - accuracy: 0.8100 - val_loss: 0.3830 - val_accuracy: 0.8106
Epoch 34/50
26875/26875 [==============================] - 5s 186us/step - loss: 1.6417 - accuracy: 0.8104 - val_loss: 0.3809 - val_accuracy: 0.8145
Epoch 35/50
26875/26875 [==============================] - 5s 188us/step - loss: 2.8336 - accuracy: 0.8097 - val_loss: 0.3771 - val_accuracy: 0.8162
Epoch 36/50
26875/26875 [==============================] - 5s 185us/step - loss: 4.1955 - accuracy: 0.8121 - val_loss: 0.3774 - val_accuracy: 0.8165
Epoch 37/50
26875/26875 [==============================] - 5s 185us/step - loss: 3.2880 - accuracy: 0.8109 - val_loss: 0.3845 - val_accuracy: 0.8147
Epoch 38/50
26875/26875 [==============================] - 5s 184us/step - loss: 3.6314 - accuracy: 0.8119 - val_loss: 0.3826 - val_accuracy: 0.8060
Epoch 39/50
26875/26875 [==============================] - 5s 183us/step - loss: 1.3374 - accuracy: 0.8112 - val_loss: 0.3817 - val_accuracy: 0.8111
Epoch 40/50
26875/26875 [==============================] - 5s 187us/step - loss: 5.0382 - accuracy: 0.8100 - val_loss: 0.3898 - val_accuracy: 0.8065
Epoch 41/50
26875/26875 [==============================] - 5s 186us/step - loss: 4.8769 - accuracy: 0.8103 - val_loss: 0.3778 - val_accuracy: 0.8137
Epoch 42/50
26875/26875 [==============================] - 5s 187us/step - loss: 3.6945 - accuracy: 0.8105 - val_loss: 0.3888 - val_accuracy: 0.8073
Epoch 43/50
26875/26875 [==============================] - 5s 185us/step - loss: 4.0011 - accuracy: 0.8100 - val_loss: 0.3778 - val_accuracy: 0.8154
Epoch 44/50
26875/26875 [==============================] - 5s 185us/step - loss: 2.4670 - accuracy: 0.8099 - val_loss: 0.3840 - val_accuracy: 0.8138
Epoch 45/50
26875/26875 [==============================] - 5s 183us/step - loss: 2.3171 - accuracy: 0.8102 - val_loss: 0.3817 - val_accuracy: 0.8159
Epoch 46/50
26875/26875 [==============================] - 5s 183us/step - loss: 2.2632 - accuracy: 0.8105 - val_loss: 0.3797 - val_accuracy: 0.8153
Epoch 47/50
26875/26875 [==============================] - 5s 183us/step - loss: 2.4538 - accuracy: 0.8114 - val_loss: 0.3823 - val_accuracy: 0.8128
Epoch 48/50
26875/26875 [==============================] - 5s 184us/step - loss: 9.4008 - accuracy: 0.8105 - val_loss: 0.3765 - val_accuracy: 0.8153
Epoch 49/50
26875/26875 [==============================] - 5s 183us/step - loss: 1.6637 - accuracy: 0.8137 - val_loss: 0.3802 - val_accuracy: 0.8128
Epoch 50/50
26875/26875 [==============================] - 5s 180us/step - loss: 0.6408 - accuracy: 0.8129 - val_loss: 0.3843 - val_accuracy: 0.8061

In [ ]:
dftest = pd.read_csv('Pendapatan_test.csv')
dftest.head()

      id  Umur  ... Kerugian Capital  Jam per Minggu
0  47933    30  ...              0.0            40.0
1  44213    28  ...              0.0            50.0
2  20823    34  ...              0.0            40.0
3  40565    51  ...       28028000.0            40.0
4   9860    20  ...       22428000.0            40.0

[5 rows x 12 columns]

In [ ]:
dftest['Pendidikan'].value_counts()

SMA                     3090
Pendidikan Tinggi       2176
Sarjana                 1564
Master                   509
D4                       417
11th                     379
D3                       312
10th                     271
7th-8th                  214
Sekolah Professional     152
9th                      138
12th                     125
Doktor                   104
5th-6th                   86
1st-4th                   47
SD                        15
Name: Pendidikan, dtype: int64

In [ ]:
dftest['Pendidikan'] = dftest['Pendidikan'].replace(
    ['SMA','Pendidikan Tinggi', 'Sarjana','Master','D4','11th','D3','10th','7th-8th','Sekolah Professional','9th','12th','Doktor','5th-6th','1st-4th','SD'],
    [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
)

In [ ]:
dftest['Kelas Pekerja'] = dftest['Kelas Pekerja'].replace(['Wiraswasta','Pekerja Bebas Bukan Perusahan','Pemerintah Lokal','?','Pemerintah Negara','Pekerja Bebas Perusahaan','Pemerintah Provinsi',
                             'Tanpa di Bayar','Tidak Pernah Bekerja'],[1,2,3,4,5,6,7,8,9])

In [ ]:
dftest['Pekerjaan'] = dftest['Pekerjaan'].replace(
    ['Spesialis','Ekesekutif Managerial','Perbaikan Kerajinan','Pemuka Agama','Sales','Servis Lainnya','Mesin Inspeksi','?','Supir','Pembersih','Petani','Tech-support','Penjaga','Asisten Rumah Tangga','Tentara'],
    [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
)

In [ ]:
dftest['Status Perkawinan'] = dftest['Status Perkawinan'].replace(
    ['Menikah','Belum Pernah Menikah','Cerai','Berpisah','Janda','Menikah LDR'],
    [1,2,3,4,5,6])

In [ ]:
dftest['Jenis Kelamin']=dftest['Jenis Kelamin'].replace(['Laki2','Perempuan'],[1,0])

In [ ]:
predictor = ['Umur','Kelas Pekerja','Pendidikan','Pekerjaan','Jmlh Tahun Pendidikan',
                'Status Perkawinan','Jenis Kelamin','Keuntungan Kapital', 'Kerugian Capital','Jam per Minggu']
hasilprediksi = model.predict(dftest[predictor])
hasilprediksi

array([[9.6475661e-01, 3.5243358e-02],
       [8.3800584e-01, 1.6199408e-01],
       [7.1355999e-01, 2.8644007e-01],
       ...,
       [9.9934858e-01, 6.5143273e-04],
       [9.8937106e-01, 1.0628963e-02],
       [8.1520343e-01, 1.8479657e-01]], dtype=float32)

In [ ]:
def uji(xd):
  a_max = xd.max()
  mylist = xd
  for i in range(len(mylist)):
    if mylist[i] == a_max:
      break
  return i

In [ ]:
az = hasilprediksi[3]
az
uji(az)

1

In [ ]:
ha=[]
for x in range(len(hasilprediksi)):
  ha.append(uji(hasilprediksi[x]))

In [ ]:
submit =pd.DataFrame({
    'Id':dftest['id'],
    'Gaji':ha
})
submit.to_csv('hasil8.csv', index=False)