<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [1]:
print('Hello World Python')

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [6]:
print('Berikut contoh statement penambahan, 5+2 =',5+2)
print('Berikut contoh statement pengurangan, 9-8 =',9-8)
print('Berikut contoh statement perkalian, 7*6 =',7*6)
print('Berikut contoh statement pembagian, 9/2 =',9/2)

Berikut contoh statement penambahan, 5+2 = 7
Berikut contoh statement pengurangan, 9-8 = 1
Berikut contoh statement perkalian, 7*6 = 42
Berikut contoh statement pembagian, 9/2 = 4.5

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [10]:
a=10
b=3
print('Pembagian a dengan b dengan hasil bertipe data integer yaitu',a//b)
print('Pembagian a dengan b dengan hasil bertipe data float yaitu',a/b)

Pembagian a dengan b dengan hasil bertipe data integer yaitu 3
Pembagian a dengan b dengan hasil bertipe data float yaitu 3.3333333333333335

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [21]:
firstname='Farah'
lastname='Qotrunnada'

print('Hello sanbercode, saya ' +firstname+' '+lastname+'! saya siap belajar python data science.')

#bisa juga print('Hello sanbercode, saya',firstname,lastname,'! saya siap belajar python data science.')
#tetapi dengan cara ini, saya tidak bisa membuat tanpa spasi antara lastname dan tanda seru

Hello sanbercode, saya Farah Qotrunnada! saya siap belajar python data science.

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [14]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999